version: '3.9'

services:
  db:
    image: postgres:16-alpine
    container_name: pern_repuestos_db
    restart: always
    env_file: .env
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: pern_repuestos_backend
    restart: always
    env_file: .env
    depends_on:
      - db
    ports:
      - "4000:4000"
    volumes:
      - ./backend/src:/app/src
    command: ["npm", "run", "dev"]

volumes:
  db_data:
